* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #00A1CF;
    background-image: url('images/background_level1.jpg');
    background-blend-mode: multiply;
    /*background-blend-mode: soft-light;*/
    /*background-blend-mode: overlay;*/
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(142deg, rgba(0,178,255,1) 35%, rgba(0,133,239,1) 100%);
    border: 4px solid #0078D3;
    border-radius: 130px;
    box-shadow: 0px 0px 43px 11px rgb(46, 34, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Init -----------------------------------------------------------------------------------------------*/

.gameInit {
    background: linear-gradient(142deg, #191550 35%, #161344 100%);
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inset 0 0 20px #2d287c;
}

.gameInitContent {
    padding: 4vh 0 3vh 0;
    height: 100%;
    border-radius: inherit;
    border: 3px solid #342aaa;
    box-shadow: inset 0 0 20px #4033ee;
    background-image: url('images/game_cover.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gameInitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.gameInitBtn {
    background: url('images/banner_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: #303242;
    border: none;
    padding: 2vh 5vw;
}

/* Canvas Set Up -----------------------------------------------------------------------------------------------*/

.canvasContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: inherit;
    height: inherit;
}

.gameCanvas {
    border: 4px solid #0078D3;
    width: inherit;
    height: inherit;
    border-radius: 100px;
    background: linear-gradient(180deg, rgb(0, 44, 190) 32%, rgb(6, 39, 184) 61%, rgba(18,4,85,1) 98%);
}

/* Top Controller */

.topControllerContainer {
    position: absolute;
    top: 30px;
    right: 2vw;
    display: flex;
    align-items: center;
    padding: 0;
}

.btnContainer {
    z-index: 999;
    margin-right: 30px;
}

.controllerBtn {
    height: 50px;
}

/* Bottom Controller */

.bottomControllerContainer {
    position: absolute;
    bottom: 0px;
    left: 4vw;
    display: flex;
    align-items: flex-end;
}

.scoreContainerBackground {
    background-image: url('images/score_counter.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 27px;
}

.scoreContainer {
    width: 80px;
}

.scoreValue {
    font-size: 30px;
    color: #303242;
    text-align: center;
}

.lifesBar {
    height: 80px;
    margin-left: 1vw;
}

.powerUp {
    height: 70px;
    margin-left: 1.5vw;
}



/* Game Over  -----------------------------------------------------------------------------------------------*/
.gameOverAlert {
    position:absolute;
    width: 100%;
    height: 100%;
}

.fogEffect {
    background-color: rgba(38, 42, 78, 0.774);
    width: 100%;
    height: 100%;
    border-radius: 110px;
}
.gameOverFrame {
    background: linear-gradient(142deg, #FFA032 35%, #DB5A1B 100%);
    width: 40%;
    padding: 1.5vh;
    border-radius: 120px;
    border: 3px solid #e2682a;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 43px 11px rgb(16, 15, 88);
    box-shadow: inset 0 0 20px #6b1a01;
}

.gameOverContent {
    padding: 1.5vh;
    border-radius: 120px;
    background-color: #FFDA9F;
    border: 3px solid #e2682a;
    box-shadow: 0px 0px 43px 11px rgb(243, 101, 7);
}

.gameOverContentBorder {
    border: 4px dashed #cc854a;
    border-radius: 110px;
    padding: 6vh 1.5vh;
}

.gameOverTitle {
    text-align: center;
    margin-bottom: 3vh;
    color: #eb6619;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3d3b5c;
    font-size: 3.2vw;
    line-height: 85%;
    text-transform: uppercase;

}

.gameOverScoreTitle {
    text-align: center;
    color: #a74e22;
    text-transform: uppercase;
    font-size: 1.5vw;

}

.gameOverScoreValue {
    text-align: center;
    color: #fff6ea;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #6d391f;
    text-transform: uppercase;
    font-size: 5vw;
}


.restartBtnFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.restartBtn {
    background: url('images/banner_3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: #fff6ea;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #493626;
    border: none;
    padding: 2vh 2vw;
}

    /* Small Computer*/
    @media (min-width:1250px) { 
        .gameContainer {
            width: 1072px;
            height: 603px;
        }
    }
    /* Regular Computer*/
    @media (min-width:1400px) { 
        .gameContainer {
            width: 1248px;
            height: 702px;
        }
    }