* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('images/sea_background.png');
    background-position: bottom;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

.gameContainer {
    width: 1820px;
    height: 1000px;
    margin: auto;
    margin-top: 10vh;
    background: linear-gradient(142deg, rgba(0,178,255,1) 35%, rgba(0,133,239,1) 100%);
    border: 4px solid #0078D3;
    border-radius: 130px;
    box-shadow: 0px 0px 43px 11px rgb(46, 34, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Init -----------------------------------------------------------------------------------------------*/

.gameInit {
    background: linear-gradient(142deg, #ffffff 35%, #bdbdbd 100%);
    width: inherit;
    height: inherit;
    padding: 2vh;
    border-radius: inherit;
    border: 4px solid #a7a7a7;
    box-shadow: inset 0 0 20px #949494be;
}

.gameInitContent {
    padding: 4vh 0 3vh 0;
    border-radius: inherit;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 20px #c7bebabe;
    height: 900px;
    background-image: url('images/game_cover.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gameInitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.gameInitBtn {
    background: url('images/banner_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: #303242;
    border: none;
    padding: 2vh 5vw;
}

/* Canvas Set Up -----------------------------------------------------------------------------------------------*/

.canvasContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.gameCanvas {
    width: 1750px;
    height: 900px;
    border: 4px solid #0078D3;
    border-radius: 100px;
    background: linear-gradient(180deg, rgb(0, 44, 190) 32%, rgb(6, 39, 184) 61%, rgba(18,4,85,1) 98%);
}

/* Top Controller */

.topControllerContainer {
    position: absolute;
    top: 30px;
    right: 2vw;
    display: flex;
    align-items: center;
    padding: 0;
}

.btnContainer {
    z-index: 999;
    margin-right: 30px;
}

.controllerBtn {
    height: 70px;
}

/* Bottom Controller */

.bottomControllerContainer {
    position: absolute;
    bottom: 0px;
    left: 4vw;
    display: flex;
    align-items: flex-end;
}

.scoreContainerBackground {
    background-image: url('images/score_counter.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 27px;
}

.scoreContainer {
    width: 90px;
}

.scoreValue {
    font-size: 50px;
    color: #303242;
    text-align: center;
}

.lifesBar {
    height: 100px;
    margin-left: 1vw;
}





.gameOverFrame {
    position: absolute;
    top: 50%;
    left: 42%;
}