* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('images/background.jpg');
    background-position: bottom;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

.gameTitle {
    font-size: 130px;
    text-align: center;
    color: white;
    margin-top: 5vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #07406b;
}

.gameContainer {
    width: 1820px;
    margin: auto;
    margin-top: 2vh;
    padding-top: 4vh;
    background: linear-gradient(142deg, rgba(0,178,255,1) 35%, rgba(0,133,239,1) 100%);
    border: 4px solid #0078D3;
    border-radius: 130px;
    box-shadow: 0px 0px 43px 11px rgba(176,234,255,1);
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.gameCanvas {
    width: 1750px;
    height: 900px;
    border: 4px solid #0078D3;
    border-radius: 100px;
    background: linear-gradient(180deg, rgba(0,134,190,1) 32%, rgba(6,72,184,1) 61%, rgba(18,4,85,1) 98%);
}

/* Controllers -----------------------------------------------------------------------------------------------*/

/* Top Controller */

.topControllerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    margin-bottom: -120px;
}

.btnContainer {
    z-index: 999;
}

.controllerBtn {
    height: 70px;
}

/* Bottom Controller */

.bottomControllerContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 4vw;
    margin-top: -150px;
}

.scoreContainer {
    background-image: url('images/score_counter.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 210px;
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 190px;
}

.scoreValue {
    font-size: 60px;
    color: #303242;
    text-align: center;
}

.rightContainer {
    display: flex;
}

.superPowerIcon {
    border-radius: 50px;
    height: 90px;
    margin-right: 1vw;
}

.lifesBar {
    height: 100px;
}





.gameOverFrame {
    position: absolute;
    top: 50%;
    left: 42%;
}